*.a
*.bak
*.core
*.def
*.dll
*.exe
*.gcda
*.gcno
*.gmo
*.header
*.la
*.lib
*.lo
*.log
*.mo
*.o
*.orig
*.patch
*.po
*.pot
*.rej
*.sin
*.so
*.trs
*~
.#*
.deps
.dirstamp
.libs
.patch_number
.version
/ChangeLog
/INSTALL
/README
/aclocal.m4
/build-aux/*
!/build-aux/Makefile.am.common
!/build-aux/Makefile.am.coverage
!/build-aux/Makefile.am.env
!/build-aux/Makefile.am.gitlog
!/build-aux/Makefile.am.link
!/build-aux/Makefile.am.valgrind
!/build-aux/git-log-fix
!/build-aux/git-version-gen
!/build-aux/gitlog-to-changelog
!/build-aux/manywarnings.m4
!/build-aux/perl.m4
!/build-aux/syntax-check
!/build-aux/syntax-check-copyright
!/build-aux/useless-if-before-free
!/build-aux/util.m4
!/build-aux/vc-list-files
!/build-aux/visibility.m4
!/build-aux/warnings.m4
/config.cache
/config.log
/config.status
/configure
/coverage
/coverage.info
/dist-deb
/lib/config.h
/lib/config.h.in
/lib/play.pc
/lib/playconf.h
/lib/stamp-h1
/src/play
/tests/env.csh
/tests/env.sh
/tests/gdb.cfg
/tests/lua
/tests/suppfile
/tests/test-lp-event-error
/tests/test-lp-event-key
/tests/test-lp-event-pointer-click
/tests/test-lp-event-pointer-move
/tests/test-lp-event-start
/tests/test-lp-event-stop
/tests/test-lp-event-tick
/tests/test-lp-event-xfail
/tests/test-lp-media
/tests/test-lp-scene
/tests/test-lp-scene-advance
/tests/test-lp-version
/tests/test-lp-version-string
Makefile
Makefile.in
autom4te.cache
libtool
tags
vgcore.*
