*.a
*.bak
*.core
*.def
*.dll
*.exe
*.gcda
*.gcno
*.gmo
*.header
*.la
*.lib
*.lo
*.log
*.mo
*.o
*.orig
*.patch
*.po
*.pot
*.rej
*.sin
*.so
*.trs
*~
.#*
.deps
.dirstamp
.libs
.patch_number
.version
/ChangeLog
/INSTALL
/README
/TAGS
/aclocal.m4
/build-aux/*
!/build-aux/Makefile.am.common
!/build-aux/Makefile.am.coverage
!/build-aux/Makefile.am.env
!/build-aux/Makefile.am.gitlog
!/build-aux/Makefile.am.link
!/build-aux/Makefile.am.valgrind
!/build-aux/git-log-fix
!/build-aux/git-version-gen
!/build-aux/gitlog-to-changelog
!/build-aux/manywarnings.m4
!/build-aux/perl.m4
!/build-aux/syntax-check
!/build-aux/syntax-check-copyright
!/build-aux/useless-if-before-free
!/build-aux/util.m4
!/build-aux/vc-list-files
!/build-aux/visibility.m4
!/build-aux/warnings.m4
/config.cache
/config.log
/config.status
/configure
/coverage
/coverage.info
/deps
/dist-deb
/examples/dump
/examples/seek
/gtk-doc.make
/lib/config.h
/lib/config.h.in
/lib/play.pc
/lib/playconf.h
/lib/stamp-h1
/src/play
/tests/env.csh
/tests/env.sh
/tests/gdb.cfg
/tests/lua
/tests/suppfile
/tests/test-lp-clock
/tests/test-lp-clock-xfail-get
/tests/test-lp-clock-xfail-set
/tests/test-lp-event-error
/tests/test-lp-event-error-xfail-get
/tests/test-lp-event-error-xfail-set
/tests/test-lp-event-key
/tests/test-lp-event-key-xfail-get
/tests/test-lp-event-key-xfail-set
/tests/test-lp-event-pointer-click
/tests/test-lp-event-pointer-click-xfail-get
/tests/test-lp-event-pointer-click-xfail-set
/tests/test-lp-event-pointer-move
/tests/test-lp-event-pointer-move-xfail-get
/tests/test-lp-event-pointer-move-xfail-set
/tests/test-lp-event-quit
/tests/test-lp-event-quit-xfail-get
/tests/test-lp-event-quit-xfail-set
/tests/test-lp-event-seek
/tests/test-lp-event-seek-xfail-get
/tests/test-lp-event-seek-xfail-set
/tests/test-lp-event-start
/tests/test-lp-event-start-xfail-get
/tests/test-lp-event-start-xfail-set
/tests/test-lp-event-stop
/tests/test-lp-event-stop-xfail-get
/tests/test-lp-event-stop-xfail-set
/tests/test-lp-event-tick
/tests/test-lp-event-tick-xfail-get
/tests/test-lp-event-tick-xfail-set
/tests/test-lp-event-xfail-new
/tests/test-lp-media-new
/tests/test-lp-media-new-xfail-bad-scene
/tests/test-lp-media-new-xfail-bad-uri
/tests/test-lp-media-pause-avi
/tests/test-lp-media-pause-jpg
/tests/test-lp-media-pause-m4v
/tests/test-lp-media-pause-mp3
/tests/test-lp-media-pause-oga
/tests/test-lp-media-pause-ogv
/tests/test-lp-media-pause-png
/tests/test-lp-media-prop-alpha
/tests/test-lp-media-prop-mute
/tests/test-lp-media-prop-text
/tests/test-lp-media-prop-text-color
/tests/test-lp-media-prop-text-font
/tests/test-lp-media-prop-volume
/tests/test-lp-media-prop-width-height
/tests/test-lp-media-prop-x-y
/tests/test-lp-media-prop-z
/tests/test-lp-media-seek-duo
/tests/test-lp-media-seek-fail-not-started
/tests/test-lp-media-seek-loop-abs
/tests/test-lp-media-seek-loop-rel
/tests/test-lp-media-start-avi
/tests/test-lp-media-start-duo
/tests/test-lp-media-start-fail-bad-uri
/tests/test-lp-media-start-fail-no-active-pads
/tests/test-lp-media-start-fail-no-decoder
/tests/test-lp-media-start-gif
/tests/test-lp-media-start-jpg
/tests/test-lp-media-start-m4v
/tests/test-lp-media-start-mp3
/tests/test-lp-media-start-mp4
/tests/test-lp-media-start-oga
/tests/test-lp-media-start-ogv
/tests/test-lp-media-start-png
/tests/test-lp-media-start-random
/tests/test-lp-media-stop-broken-audio
/tests/test-lp-media-stop-fail-not-started
/tests/test-lp-media-stop-loop
/tests/test-lp-media-stop-random
/tests/test-lp-media-xfail-get
/tests/test-lp-media-xfail-set
/tests/test-lp-scene-advance
/tests/test-lp-scene-advance-quitted
/tests/test-lp-scene-get-quitted
/tests/test-lp-scene-new
/tests/test-lp-scene-pause
/tests/test-lp-scene-prop-interval
/tests/test-lp-scene-prop-lockstep
/tests/test-lp-scene-prop-mask
/tests/test-lp-scene-prop-pattern
/tests/test-lp-scene-prop-ticks
/tests/test-lp-scene-prop-time
/tests/test-lp-scene-prop-wave
/tests/test-lp-scene-prop-width-height
/tests/test-lp-scene-quit
/tests/test-lp-scene-quit-quitted
/tests/test-lp-scene-set-quitted
/tests/test-lp-scene-xfail-get
/tests/test-lp-scene-xfail-set
/tests/test-lp-version
/tests/test-lp-version-string
Makefile
Makefile.in
autom4te.cache
libtool
tags
vgcore.*
