*.a
*.bak
*.core
*.def
*.dll
*.exe
*.gcda
*.gcno
*.gmo
*.header
*.la
*.lib
*.lo
*.log
*.mo
*.o
*.orig
*.patch
*.po
*.pot
*.rej
*.sin
*.so
*.trs
*~
.#*
.deps
.dirstamp
.libs
.patch_number
.version
/ChangeLog
/INSTALL
/README
/aclocal.m4
/build-aux/*
!/build-aux/Makefile.am.common
!/build-aux/Makefile.am.coverage
!/build-aux/Makefile.am.env
!/build-aux/Makefile.am.gitlog
!/build-aux/Makefile.am.link
!/build-aux/Makefile.am.valgrind
!/build-aux/git-log-fix
!/build-aux/git-version-gen
!/build-aux/gitlog-to-changelog
!/build-aux/manywarnings.m4
!/build-aux/perl.m4
!/build-aux/syntax-check
!/build-aux/syntax-check-copyright
!/build-aux/useless-if-before-free
!/build-aux/util.m4
!/build-aux/vc-list-files
!/build-aux/visibility.m4
!/build-aux/warnings.m4
/config.cache
/config.log
/config.status
/configure
/coverage
/coverage.info
/dist-deb
/lib/config.h
/lib/config.h.in
/lib/play.pc
/lib/playconf.h
/lib/stamp-h1
/tests/env.csh
/tests/env.sh
/tests/gdb.cfg
/tests/suppfile
/tests/test-lp-event-equals
/tests/test-lp-event-init-start
/tests/test-lp-event-init-stop
/tests/test-lp-media-create
/tests/test-lp-media-destroy
/tests/test-lp-media-get-reference-count
/tests/test-lp-media-reference
/tests/test-lp-media-register-unregister
/tests/test-lp-media-set-get-property-double
/tests/test-lp-media-set-get-property-int
/tests/test-lp-media-set-get-property-pointer
/tests/test-lp-media-set-get-property-string
/tests/test-lp-media-start
Makefile
Makefile.in
autom4te.cache
libtool
vgcore.*
